{% extends 'base.html.twig' %}


{% block title %}
	Category
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1>Category:
		{{ category.name }}</h1>

	{% if programs is not empty %}
		<h2>Programs:</h2>
		<ul>
			{% for program in programs %}
				<li>
					<strong>ID:</strong>
					{{ program.id }}<br>
					<strong>Title:</strong>
					{{ program.title }}<br>
					<strong>Synopsis:</strong>
					{{ program.synopsis }}<br>
					<a href="{{ path('program_show', {'slug': program.slug}) }}">View Program</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Aucune série trouvée dans cette catégorie.</p>
	{% endif %}

	<a href="{{ path('category_index') }}">Retour à la liste des catégories</a>
{% endblock %}
