{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>synopsis :
				{{ program.synopsis }}</p>
			<p>pays :
				{{ program.country }}</p>
			<p>année de création :
				{{ program.year }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<p>Temps de visionnage pour la série:
				{{ programDuration }}
			</p>
			<h3>Saisons disponibles :</h3>
			<ul>
				{% for season in program.seasons %}
					<li>
						<a href="{{ path('program_season_show', { 'program': program.id, 'season': season.id }) }}">
							Saison
							{{ season.number }}
						</a>
					</li>
				{% endfor %}
			</ul>
			<strong>Acteurs :</strong>
			<ul>
				{% for actor in program.actors %}
					<li>{{ actor.name }}</li>
				{% else %}
					<li>Aucun acteur pour cette série</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
